/* reset, utils and header styling */

@import url("https://adaptiveui.netlify.app/src/components/ui-lib.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button:disabled {
  cursor: not-allowed;
}
/* flex utilities */

.flex {
  display: flex;
  gap: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-align-items-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* header */
.text-center {
  text-align: center;
}

.header-wrapper {
  border-bottom: 1px solid var(--GRAY);
}

.header {
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

.header-nav li {
  border-bottom: 2px solid transparent;
}

.header-ctas {
  gap: 1rem;
}

.header .header-search-wrapper {
  flex-shrink: 5;
  flex-grow: 2;
}

.header-icon-btn {
  padding: 0;
  border: none;
}

.header-icon-btn i:hover {
  color: var(--GRAY);
}

.user-wrapper {
  position: relative;
}

.popup {
  display: none;
  background-color: var(--WHITE);
  font-size: 0.87rem;
  box-shadow: 0px 0px 8px 0px var(--GRAY);
  border-radius: 4px;
  padding: 1rem;
  width: max-content;
  gap: 1rem;
}

.user-wrapper:hover .popup {
  display: flex;
  flex-direction: column;
  position: absolute;
}
