<<<<<<< HEAD
<<<<<<< Updated upstream
=======
/* Reset + Header  */
@import url("https://ui-library-demo.netlify.app/src/components/ui-lib.css");

/* Reset */
=======
/* Reset + Header  */
>>>>>>> 9d477d80ac8e124bb4833098cb4de4afbec41f1a

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

<<<<<<< HEAD
/* flex utilities */

.flex {
  display: flex;
  gap: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-justify-content-center {
  justify-content: center;
}

.flex-align-items-center {
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

/* header */
=======
.text-center {
  text-align: center;
}

>>>>>>> 9d477d80ac8e124bb4833098cb4de4afbec41f1a
.header-wrapper {
  border-bottom: 1px solid var(--GRAY);
}

.header {
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}

<<<<<<< HEAD
.header-nav li {
  border-bottom: 2px solid transparent;
}

.header .header-search-wrapper {
  flex-shrink: 5;
}

.header-ctas {
  gap: 1rem;
}
>>>>>>> Stashed changes
=======
.header .header-search-wrapper {
  flex-shrink: 5;
}
>>>>>>> 9d477d80ac8e124bb4833098cb4de4afbec41f1a
